@model FlatRockTech_Models.ViewModels.UserVM

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div class="row p-3 border">     
           
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UsersList"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(u => u.UsersList, Model.UsersList, "--Select a user--",
                        new { @class = "form-control" })
                    <span asp-validation-for="UsersList" class="text-danger"></span>
                </div>    
                    <div class="col-4" >
                    <button type="submit" class="btn btn-primary form-control" asp-action="index" asp-controller="Quiz">Select</button>                  
                     </div>
                </div>
     </div>
</form>
